<header class="masthead" style="background-image: url('img/2018_smaller_cropped.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>
            {% if page.lang == "yiddish" %}
              <span class="lg-view">דער ייִדישער<br>פֿילהאַרמאָנישער כאָר</span>
              <span class="sm-view">דער ייִפֿ"כ</span>
            {% else %}
              <span class="lg-view">The Yiddish<br>Philharmonic Chorus</span>
              <span class="sm-view">The Yiddish Philharmonic Chorus</span>
            {% endif %}
          </h1>
          <span class="subheading">
            {% if page.lang == "yiddish" %}
              <span class="lg-view">אַז די ייִדישע כאָרמוזיק זאָל װײַטער בליִען!</span>
              <span class="sm-view">ייִדישע כאָרמוזיק</span>
            {% else %}
              <span class="lg-view">Keeping Yiddish choral music alive!</span>
              <span class="sm-view">דער ייִדישער<br>פֿילהאַרמאָנישער כאָר</span>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
