<nav class="navbar fixed-top navbar-expand-md navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="yiddish.html">דער ייִפֿ"פֿ</a>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      מעניו
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about.html">װעגן אונדז</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="members.html">זינגערס</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="concerts.html">קאָנצערטן</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="media.html">מעדיע</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">English</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
